* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #ff40a9ad, #00a1ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
}

body>.board {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    position: relative;
}

body>.board>.cell {
    width: 100px;
    height: 100px;
    border: #ffffffcf solid 4px;
    text-align: center;
    line-height: 140px;
}

.board .cell:nth-child(1) {
    border-left: 0px !important;
    border-top: 0px !important;
}

.board .cell:nth-child(4) {
    border-left: 0px !important;
}

.board .cell:nth-child(7) {
    border-left: 0px !important;
    border-bottom: 0px !important;
}

.cell:nth-child(3) {
    border-right: 0px !important;
    border-top: 0px !important;
}

.cell:nth-child(6) {
    border-right: 0px !important;
}

.cell:nth-child(9) {
    border-bottom: 0px !important;
    border-right: 0px !important;
}

.cell:nth-child(2) {
    border-top: 0px !important;
}

.cell:nth-child(8) {
    border-bottom: 0px !important;
}

.board .cell:nth-child(1) {
    border-left: 0px !important;
    border-top: 0px !important;
}

.board .cell:nth-child(4) {
    border-left: 0px !important;
}

.board .cell:nth-child(7) {
    border-left: 0px !important;
    border-bottom: 0px !important;
}

i.fa {
    font-size: 70px;
    pointer-events: none;

}

i.fa.fa-circle-o {
    font-weight: bold;
    color: #2f2f2fe3;
}

i.fa.fa-close {
    font-size: 82px;
    color: #77e2b7;
}

.merge {
    position: absolute;
    width: 0;
    height: 10px;
}

.playerXColor {
    background-color: #77e2b7;
}

.playerOColor {
    background-color: #2f2f2fe3;
}

.pattern123 {
    width: 100%;
    top: 15%;
}

.pattern357 {
    right: 1%;
    transform: rotate(-45deg);
    transform-origin: 100%;
    width: 424px;
}

.pattern369 {
    right: 16%;
    transform: rotate(-90deg);
    transform-origin: 100%;
    width: 100%;
}

.pattern456 {
    width: 100%;
    top: 50%;
}

.pattern789 {
    width: 100%;
    bottom: 15%;
}

.pattern159 {
    width: 424px;
    top: 0%;
    left: 1%;
    transform-origin: 0%;
    transform: rotate(45deg);
}

.pattern147 {
    width: 100%;
    top: 0%;
    left: 16%;
    transform-origin: 0%;
    transform: rotate(90deg);
}

.pattern258 {
    width: 100%;
    transform-origin: 0%;
    left: 50%;
    transform: rotate(90deg);
}

.turn {
    color: red;
}

.pattern-animation {
    animation: widthIncress 0.4s;
}

button.restart {
    width: 174px;
    font-size: 20px;
    padding: 8px;
    margin-top: 50px;
    background: #fd4747;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button.restart:hover{
    background: red;
}
